/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color and basic styles */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
}

/* Navigation menu styles */
.navbar {
    background-color: #344e41;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.logo {
    font-size: 30px;
    margin: 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Main content styles */
.container h2 {
    margin-top: 100px;
}
.container p {
    margin-top: 20px
}

/* Footer styles */
.footer {
    background-color: #344e41;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.categories figure {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.ART {
    width: 200px;
    height: 170px;
    max-width: 100%;
}

.fas.fa-search {
    font-size: 15px;
    color: #f5f1f1;
    margin-left: 5px;
  }  